/*note标签*/
.note:not(.no-icon)::before {  
  
  left: 15px;
  position: absolute;
  top: 23px;  
}
/*note标签结束*/

#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url(//cdn.jsdelivr.net/gh/long-zhi/static@latest/img/background-1.webp);
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}


/* 页脚footer */
/* 页脚透明 */
#footer {
    background: rgba(255,255,255,0);
}
#footer-wrap{
	padding-top: 0px;
}
